.select {
  position: relative;
  display: inline-block;
  user-select: none;
  max-width: 100%;
}

.select option {
  color: #303030;
}

/* Elements */

.arrow {
  position: absolute;
  right: var(--spacing-2);
  top: 52%;
  transform: translateY(-50%);
  line-height: 1;
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: transparent;
  background: transparent;
  z-index: 1;
  border: 2px solid var(--col-gray);
  border-radius: var(--border-radius);
  transition: border-color var(--transition);
  appearance: none;
}

.placeholder {
  position: relative;
  display: block;
  width: 100%;
  height: 52px;
  font-size: 16px;
  line-height: 3;
  font-family: var(--font-family);
  background-color: transparent;
  color: var(--col-black);
  padding: 0 var(--spacing-7) 0 var(--spacing-3);
  text-align: left;
  border: 2px solid transparent;
  cursor: pointer;
  appearance: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all var(--transition);
}

/* Modifiers */

.-full {
  display: block;
}

.-disabled {
  cursor: not-allowed;
}

.-bold .field {
  border-color: var(--col-3);
}

.-bold .placeholder {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  font-size: 24px;
  line-height: 46px;
  font-family: var(--font-family-alt);
  background-color: transparent;
  color: var(--col-black);
  padding: 0 var(--spacing-7) 0 var(--spacing-3);
  border: 2px solid transparent;
  cursor: pointer;
  appearance: none;
  transition: all 0.2s ease;
}
@media (min-width: 48em) {
  .-bold .placeholder {
    height: 60px;
    font-size: 36px;
    line-height: 58px;
  }
}

.-inverted .field {
  border-color: var(--col-1);
}