.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
  margin: 20px 0 10px 0;
}
@media (min-width: 48em) {
  .header {
    margin: 0;
    height: 60px;
  }
}

.title {
  font-size: 18px;
  line-height: 24px;
}
