.avatar {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background: var(--col-1);
  border-radius: 50%;
  overflow: hidden;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
}

/* Modifiers */

.-light {
  background: var(--col-light);
}
.-light .inner {
  color: var(--col-dark);
}

.-dark {
  background: var(--col-dark);
}
