.drawer {
  width: 100%;
}

.panel {
  position: fixed;
  right: 100%;
  top: 0;
  bottom: 0;
  background: var(--col-1);
  width: 100%;
  max-width: 674px;
  overflow-y: auto;
  transform: translateX(70%);
  transition: transform 300ms cubic-bezier(0.17, 0.76, 0.24, 0.95),
    visibility 300ms cubic-bezier(0.17, 0.76, 0.24, 0.95),
    opacity 50ms cubic-bezier(0, 0, 0.43, 1.02);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.background {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--col-dark);
  opacity: 0;
  transition: opacity var(--transition), visibility var(--transition);
  visibility: hidden;
  z-index: 1;
}

/* Modifiers */

.-open .panel {
  opacity: 1;
  transform: translateX(100%);
  visibility: visible;
}

.-open .button {
  opacity: 1;
  visibility: visible;
}

.-open .background {
  opacity: 0.75;
  visibility: visible;
}

.-swiping .panel {
  transition-duration: 0s;
}
