.accordion {
  display: block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + var(--spacing-3) * 2);
  height: 56px;
  transition: all var(--transition);
  cursor: pointer;
  padding: 0 var(--spacing-1) 0 var(--spacing-3);
  margin: 0 calc(-1 * var(--spacing-3));

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.05);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: var(--col-lighter);
  }
}

.icon {
  transition: transform var(--transition);
}

.contents {
  opacity: 0;
  transform: translateY(-5px);
  transition: all var(--transition);
}

.children {
  padding: var(--spacing-2) 0;
}

/* Modifiers */

.-open .icon {
  transform: rotate(180deg);
}

.-open .contents {
  transform: translateY(0);
  opacity: 1;
}

.-gray .button {
  background: var(--col-lighter);
}
@media (hover: hover) and (pointer: fine) {
  .-gray .button:hover {
    background: var(--col-light);
  }
}

.-white .button {
  color: var(--col-light);
}
@media (hover: hover) and (pointer: fine) {
  .-white .button:hover {
    background: var(--col-dark);
  }
}
