@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/raleway-regular.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,
.h1 {
  font-family: var(--font-family-alt);
  font-size: 4.395rem;
  line-height: 1.3;
}

@media (min-width: 48em) {
  h1,
  .h1 {
    font-size: 5.493rem;
  }
}

h2,
.h2 {
  font-family: var(--font-family-alt);
  font-size: 3.516rem;
  line-height: 1.3;
}

@media (min-width: 48em) {
  h2,
  .h2 {
    font-size: 4.395rem;
  }
}

h3,
.h3 {
  font-family: var(--font-family-alt);
  font-size: 1.8rem;
  line-height: 1.3;
}

@media (min-width: 48em) {
  h3,
  .h3 {
    font-size: 3.516rem;
  }
}

strong {
  font-weight: bold;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
}

small,
.small {
  display: inline-block;
  font-size: 1.4rem;
}

a,
.link {
  cursor: pointer;
  color: var(--col-dark);
  text-decoration: underline;
}

a:hover,
.link:hover {
  color: var(--col-dark);
}

a:active,
.link:active {
  color: var(--col-1);
}

.gray {
  color: var(--col-gray);
}

.warning {
  color: var(--col-warning);
}

.line-through {
  text-decoration: line-through;
}

/* Screenreaders */
.sr {
  position: absolute;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  word-wrap: normal !important;
}

/* No-break text */
.nb {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: var(--spacing-2);
}
